<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="{{ url('auction_index') }}">Aukcje</a></li>
    <li role="presentation"><a href="{{ url('my_auction_index') }}">Moje aukcje</a></li>
    <li role="presentation"><a href="{{ url('my_auction_add') }}">Dodaj aukcję</a></li>
    <li role="presentation"><a href="{{ url('fos_user_security_logout') }}">Wyloguj się</a></li>
</ul>