<ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="{{ url('auction_index') }}">Aukcje</a></li>
    <li role="presentation"><a href="{{ url('fos_user_security_login') }}">Zaloguj się</a></li>
    <li role="presentation"><a href="{{ url('fos_user_registration_register') }}">Zarejestruj się</a></li>
</ul>